<ion-header>
  <ion-toolbar color="success">
    <ion-title><ion-icon name="arrow-back-outline" routerLink="/userhome"></ion-icon>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<img src="../assets/img/swatchbharath.jpg">
</ion-card>
<ion-card-header>
<ion-card-title>About</ion-card-title>
</ion-card-header>
 <ion-card-content>
         An electronic toilet or E-Toilet is a type of public toilet that is used in India. The increase in use of eToilets is in support of Swachh Bharat Abhiyan which intends to reduce the practice of open defecation.

         <br><br><br>If you have any help call +918606871501 or send email to etoiletapp@gmail.com
        </ion-card-content>
</ion-content>
