
 
<ion-content  color="success" >
  <ion-card>
  <img src="../assets/img/etoilet.jpg">
<center><ion-card-title color="primary">E-Toilet App</ion-card-title></center>
<ion-card-content><ion-text color="secondary">Find Your Nearest E-Toilet in a Click<br>

E-Toilets are self-contained, self-cleaning, unisex, user-friendly, unmanned, automated and remotely monitored toilet pods installed in public places.
<br>E-Toilets can be coin operated pay toilets, or freely accessed with manual entry and exit. 

<br>E-Toilet App helps you to find best E-toilets near your location.


</ion-text></ion-card-content>
  <ion-button [routerLink]="['/registration']">Register</ion-button>
   <ion-button [routerLink]="['/login']">Login</ion-button>
   <img src="../assets/img/swatchbharath.jpg">
  </ion-card>
   

 
</ion-content>